/******
Reset

primary-light-0:#7bbff0;
primary:#2980b9;
primary-dark-0:#1a4d6f;
primary-dark-1:#03214d;
primary-dark-2:#031e31;
black:#535353;
grey:#dedede;
green-lightt-0:#55efc4;
green:#29787c;

******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***

不確定自己有沒有更改正確，可以在*中測試

*{
    border: 1px solid #ccc;
}

***/

body {
    font-family: Lato, Helvetica, sans-serif;
    color: #535353;
}

/******
layout / Grid design
******/

.container {
    width: 960px;
    margin: 0 auto;
}

@media only screen and (min-width:769px) and (max-width: 992px) {
    .container {
        width: 750px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 100%;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

/******
上面的last-child指的就是
除了最後的那個框框其他都在右側加
margin-right: 30px;
******/

[class^="col-"]:not(:last-child) {
    margin-right: 30px;
}

/******
上面的選擇器指的是
只要有col-開頭的CSS都可以應用到
所以可以把共用的內容寫在這
如果沒有選擇器就是這樣寫：
.col-md-4:not(:last-child) {
    margin-right: 30px;
}
******/

.col-md-4 {
    width: calc((100% - 2 * 30px) / 3);
    float: left;
}

.col-md-3 {
    width: calc((100% - 3 * 30px) / 4);
}

.col-md-6 {
    width: calc((100% - 30px) / 2);
}

@media only screen and (max-width:768px) {

    .col-md-4,
    .col-md-6 {
        width: 100%;
    }
}

.col-sm-6 {
    float: left;
    text-align: center;
    width: calc((100% - 30px) / 2);
}

@media only screen and (max-width: 768px) {
    .col-sm-6 {
        width: 40%;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:769px)and (max-width:899px) {

    .col-sm-6 {
        width: 20%;
        margin-left: 15px;
    }
}

@media only screen and (min-width:900px) {

    .col-sm-6 {
        width: 22%;
        margin-left: 15px;
    }
}

.col-sm-6:not(:last-child) {
    margin-right: 10px
}


hr {
    width: 75%;
    margin: 0 auto;
}

/******
Global HTML Element
******/

.h2-container {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    position: relative;
    display: inline-block;
}

p {
    line-height: 1.7;
}

/******
下面是做 h2 字下方的藍色小條條
******/

h2::before {
    content: "";
    display: block;
    width: 127px;
    height: 5px;
    background: #2980b9;
    position: absolute;
    bottom: -10px;
}

/******

也可以用::after來寫

因為一旦使用了position相對位置屬性後
就直接擺脫了你加的內容是要放在後面還是前面
而是直接按照position相對位置的設定改變位置

h2::after {
    content: "";
    display: block;
    width: 127px;
    height: 5px;
    background: #2980b9;
    position: absolute;
    bottom: -10px;
}

::before和::after一定要加入content屬性才會有作用
就算沒有要加入文字，也一定要有content屬性，內容留空即可

******/

/******
decoration = 底線
******/

.btn {
    border: 0;
    border-radius: 3px;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration-line: none;
}

/**********
.btn是按鈕共用的CSS
其他各自按鈕CSS在下方
outline:按鈕只有線
full:按鈕裡面有顏色
**********/

.btn-outline {
    border: 1px solid #2980b9;
    color: #2980b9;
    transition: all 0.5s;
}

.btn-outline:hover {
    border: 1px solid #57b8f8;
    color: #57b8f8;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.btn-full {
    background: #2980b9;
    color: #ffffff;
    transition: all 0.5s;
}

.btn-full:hover {
    background: #1a4d6f;
    color: #ffffff;
}

.img-full {
    width: 100%;
}

/******
but-position是我自己使用position嘗試的首頁上方按鈕子層
/******/

.but-position {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: 50px;
    text-decoration: none;
}

@media only screen and (max-width:1380px) {

    .but-position {
        display: none;
    }
}

/******
下面top-a、bottom-a分別是
header的選單連結、footer的選單連結
因為原本直接用 a{}
但背景顏色不同
導致連結不明顯
所以才分開製作css
/******/

.top-a {
    color: #535353;
    text-decoration: none;
    transition: all 0.5s;
}

.top-a:hover {
    color: #1a4d6f;
}

.bottom-a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
}

.bottom-a:hover {
    color: #c1c1c1;
}


/******
utilities
******/

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-20 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

/******
nav
******/

nav {
    padding: 16px;
}

/***
下面 margin-left: -15%;是我另外加的
***/

.nav-logo {
    display: block;
    width: 180px;
    float: left;
}

@media only screen and (max-width:768px) {

    .nav-logo {
        display: block;
        width: 180px;
        float: left;
        margin-left: 2%;
    }
}

.nav-list {
    list-style: none;
    float: right;
}

@media only screen and (max-width:768px) {

    .nav-list {
        display: none;
    }
}

.nav-list li {
    display: inline-block;
    margin-top: 16px;
    margin-right: 16px;
}

/******
上面這個寫法叫css組合
這個組合叫'後代選擇器'
後代選擇器用於選取某元素的後代元素
舉例：
nav-list li a {
    color:red;
} 
******/

.nav-list li:last-of-type {
    margin-right: 0px;
}

/*****

CSS有提供很多種選擇器
last-of-type
是其中一種，不用特別去背
要用到的時候再查就好了

******/

.nav-menu {
    display: none;
}

@media only screen and (max-width:768px) {

    .nav-list {
        display: none;
    }

    .nav-menu {
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        float: right;
    }
}

.nav-show-menu {
    position: relative;
}

/*************
下面的css是代表
父層 nav-show-menu
子層nav-list
兩者都有的話
這個css才會成立

-

z-index是負責x軸
z-index的預設原本是0
下面設定成5
就可以出現在首圖div的上面
（才不會被蓋掉）
************/

.nav-show-menu .nav-list {
    display: block;
    position: absolute;
    top: 70px;
    z-index: 5;
    background: #ffffff;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.nav-show-menu .nav-list li {
    display: block;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    margin-right: 0;
    font-size: 18px;
}

/*************
Header
************/

header {
    background: url("../img/pexels-photo-5475194.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    position: relative;
}

@media only screen and (max-width:768px) {

    header {
        background: url("../img/gakeo.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
}

.header-container {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-60%, -30%);
}

@media only screen and (max-width:768px) {

    .header-container {
        top: 45%;
        left: 50%;
        padding: 15px;
        display: inline;
        transform: translate(-50%, 20%);

    }
}

@media only screen and (min-width:769px)and (max-width:960px) {

    .header-container {
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        padding: 20px;
        display: inline-block;
        position: absolute;
        top: 75%;
        left: 25%;
        transform: translate(-40%, -40%);

    }
}

.header-h1 {
    font-weight: 700;
    font-size: 42px;
    margin: 10px 0 20px 0;
}

@media only screen and (max-width:768px) {

    .header-h1 {
        font-weight: 700;
        font-size: 30px;
    }
}

.subtitle {
    color: #dedede;
    font-style: italic;
    margin-top: 10px;
    text-transform: capitalize;
}

@media only screen and (max-width:768px) {

    .subtitle {
        font-weight: 400;
        font-size: 16px;
    }
}

/********
showcase
********/

.showcase {
    list-style: none;
    width: 100%;
}

.showcase li {
    width: 25%;
    float: left;
    height: 213px;
    overflow: hidden;
}

@media only screen and (max-width:768px) {

    .showcase li {
        width: 50%;
    }
}

.photo {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

/***********
只要有用到float就一定要 Clearfix
上面有寫一個row用於Clear float（class="row"）
不然圖片下面跑不出margin
沒辦法有間距會黏著圖片很近
***********/

.photo:hover {
    transform: scale(1.1);
}

/********
testimonial
********/

.testimonial-card {
    padding: 60px 30px 0px;
    border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 20px;
}

@media only screen and (max-width:768px) {
    .testimonial-card {
        margin-bottom: 20px;
    }
}


.testimonial-card-test {
    line-height: 1.8;
    padding-bottom: 60px;
    position: relative;
}

.testimonial-card-test::before,
.testimonial-card-test::after {
    font-size: 64px;
    color: #dedede;
    position: absolute;
}

.testimonial-card-test::before {
    content: "\201C";
    top: -60px;
    left: -10px;
}

.testimonial-card-test::after {
    content: "\201D";
    bottom: -30px;
    right: 0;
}

.testimonial-card-info {
    background: #2980b9;
    color: #ffffff;
    margin: 0 -30px;
    padding: 60px 0px 30px;
    position: relative;
}

.testimonial-card-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.testimonial-card-position {
    color: #bae2fd;
}

.testimonial-card-img {
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    border: solid #bae2fd;
    ;
}

/********
PAY
********/

.pay {
    background: #031e31;
    ;
}

.pay-block {
    height: 70px;
    width: 80%;
    padding: 10px;
    background: #ffffff;
}

/********
CONTACT US
********/

.google-maps {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid #dedede;
}

textarea.form-input {
    height: 200px;
}

/********
上面的CSS寫法是指
必須要有textarea、form-input
這兩個標籤才成立
********/

/******
FOOTER
******/

footer {
    background: #031e31;
    ;
}

.footer-list {
    list-style: none;
    padding-bottom: 20px;
    color: #ffffff;
}

.footer-list li {
    display: inline-block;
    margin-right: 16px;
}

.p-color {
    color: #ffffff;
    font-size: 12px;
    padding-top: 20px;
}

/********
Scroll Top Btn
********/

.ScrollTopBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    background: #2980b9;
    text-decoration: none;
}

.ScrollTopBtn i {
    color: #ffffff;
}