@import url('https://fonts.googleapis.com/css?family=Muli&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    height: 500px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1756152711848-7e48c54098db?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-list {
    font-size: 18px;
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

.nav-list li {
    font-weight: 500;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.輸入區域 {
    display: inline-block;
    margin: 80px 300px;
    list-style: none;
    line-height: 3;
}

.輸入區域 input {
    padding: 10px;
}

.輸入區域 li {
    margin: 10px 10px;
    color: #fff;
}

.輸入區域 i {
    margin-right: 10px;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
}

.輸入區域 button {
    position: relative;
    margin-top: 50px;
    margin-left: -10px;
    color: #fff;
    cursor: pointer;
}

.輸入區域 i:last-child {
    margin: 0;
    position: absolute;
    padding-left: 160px;
    transform: translateY(-50%);
}

input {
    width: 300px;
    height: 5 20px;
    opacity: 0.6;
    position: relative;
}

input::placeholder {
    padding-left: 40px;
    transform: translateY(10%);
}

.按鈕 {
    display: flex;
    background: #000000;
    padding: 15px 150px;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    opacity: 0.7;
}

.按鈕:hover {
    color: #000000;
    background: #ffffff;
    transition: all 0.5s;
}