@import url('https://fonts.googleapis.com/css?family=Muli&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272e35;
    min-height: 100vh;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: #eeeeee;
    padding: 18px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #00afff;
}

.card-list .card-link .card-image {
    width: 100%;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #272e35;
    border-radius: 50px;
    width: fit-content;
}

/*  
badge本來是h2上面寫的小分類
我覺得比較適用於文章
所以先暫時刪除

<p class="badge">爬蟲造景</p>
<h2 class="card-title">守宮小麵包樹擺設</h2>

*/

.card-list .card-link .card-title {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    padding: 20px 0px;
    text-align: center;
}

.card-button {
    width: 100%;
    padding: 10px 100px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #00afff;
    background-color: #00afff;
    text-decoration: none;
    cursor: pointer;
}

.card-button:hover {
    background-color: #fff;
    color: #00afff;
    transition: all 0.3s ease-in;
}

.card-wrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    opacity: 0.5;
    background: #00afff;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #00afff;
    margin-top: -35px;
}